.red {
  color: red;
}

.wrapper-login {
  width: 600px;
  margin: 160px auto 0 auto;
}

.wrapper-header {
  height: 80px;
  margin: 0 0 20px 0;
  padding: 20px 0 10px 0;
  background: url("/static/image/bgHeader.png") left top repeat-x;
}

  .wrapper-header .wrapper-logo h2 {
    margin: 0;
  }

.wrapper-gvshow th,
.wrapper-gvshow td {
  text-align: center;
}

.wrapper-gvshow .table tbody tr th {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background: #00589b;
  color: #FFF;
}
